<%include('ejs/_data'); var meta = getData();%>
<%
var absolutePath = filename.split(site.developDir)[filename.split(site.developDir).length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('/').length -1]);
%>
<!DOCTYPE html>
<html lang="en" dir="ltr" class="touch">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="assets/css/style.css?<%=Math.random()%>">
    <style>
    .list{
      margin: 30px;
    }
    .list h1{
      font-size: 24px;
      border-bottom: 1px solid #000;
      padding-bottom: 5px;
      margin-bottom: 15px;
    }
    .list h2{
      font-size: 18px;
      margin-left: 30px;
      margin-bottom: 15px;
      margin-top: 30px;
    }
    ul{
      margin-left: 30px;
      font-size: 16px;
      line-height: 1.5;
      list-style: none;
    }
    li + li{
      margin-top: 10px;
    }
    a{
      /* text-decoration: none; */
      color: #000;
    }
    a.line-t{
      text-decoration: line-through;
    }
  </style>
  </head>
  <body>
    <div class="list">
      <h1>url list</h1>
      <h2>adobe max challenge</h2>
      <ul>
        <li><a href="01" target="_blank">01</a></li>
        <li><a href="02" target="_blank">02</a></li>
      </ul>
    </div>
  </body>
</html>
